<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=Firefly.CodeTests.AuthManager.Database;Integrated Security=True;Pooling=False;Connect Timeout=30" providerName ="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>